body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    overflow-x: hidden; 
  }


  *{
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    min-height: 100vh;
    overflow: hidden;
    background-color: #202020; 
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between ;
    
    
  }
